<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>All maincourses</title>
</head>
<body>
	<div class="col-md-4">
		<h1>Maincourses</h1>
	</div>
	<div class="col-md-4">
		<h3 th:inline="text">Welcome
			[[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div class="col-md-4" style="padding: 20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger" />
		</form>
	</div>
	<table class="table table-striped">
		<tr>
			<th>Id</th>
			<th>Maincourse</th>
			<th>Sidedish</th>
			<th>Date</th>
			<th>Price</th>
			<th>Number of red glasses</th>
			<th>Comment</th>
			<th>Rating</th>
			<th sec:authorize="hasAuthority('ADMIN')"></th>
			<th sec:authorize="hasAuthority('ADMIN')"></th>
		</tr>
		<tr th:each="maincourse : ${maincourses}">
			<td th:text="${maincourse.maincourseid}">id</td>
			<td th:text="${maincourse.meal}">maincourse</td>
			<td th:text="${maincourse.sidedish.sidedish}">sidedish</td>
			<td th:text="${maincourse.date}">date</td>
			<td th:text="${maincourse.price}">price</td>
			<td th:text="${maincourse.numberOfRedGlasses}">red glasses</td>
			<td th:text="${maincourse.comment}">comment</td>
			<td th:text="${maincourse.rating.rating}">date</td>
			<td sec:authorize="hasAuthority('ADMIN')"><a
				class="btn btn-danger btn-sm"
				th:href="@{/delete/{id}(id=${maincourse.maincourseid})}"><span
					class="glyphicon glyphicon-trash"></span> Delete</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a
				class="btn btn-primary btn-sm"
				th:href="@{/editmeal/{id}(id=${maincourse.maincourseid})}"><span
					class="glyphicon glyphicon-pencil"></span> Edit</a></td>
		</tr>
	</table>
	<a class="btn btn-success btn-sm" href="/addmaincourse"><span
		class="glyphicon glyphicon-plus"></span> New meal</a>
	<a class="btn btn-success btn-sm" href="/addsidedish"><span
		class="glyphicon glyphicon-plus"></span> New sidedish</a>
	<a class="btn btn-info btn-sm" href="/sidedishlist"><span
		class="glyphicon glyphicon-list"></span> Side dish list</a>
</body>
</html>
