<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Edit side dish/title>
</head>
<body>

	<div class="container">
		<h1>Edit side dish</h1>
		<form action="#" th:action="@{../savesidedish}" th:object=${sidedish}
			method="post">
			<div class="form-group">
				<label for="SideDish">Side dish:</label> <input type="text"
					th:field="${sidedish.sidedish}" class="form-control"
					placeholder="Edit side dish" />
			</div>
			<br>
			<div>
				<input type="submit" value="Submit" class="btn btn-success btn-sm" />
				<input type="reset" value="Reset" class="btn btn-warning btn-sm" />
				<a class="btn btn-info btn-sm" href="/sidedishlist"><span
					class="glyphicon glyphicon-list"></span> Side dishes</a> <a
					class="btn btn-info btn-sm" href="/maincourselist"><span
					class="glyphicon glyphicon-list"></span> Main courses</a>
			</div>
		</form>
	</div>
</body>
</html>